@import url(./_add/button_add.css);
@import url(./_edit/button_edit.css);
@import url(./_like/button_like.css);
@import url(./_like-active/button_like-active.css);
@import url(./_submit/button_submit.css);
@import url(./_close-item/button_close-item.css);
@import url(./_del/button_del.css);
@import url(./_close-big/button_close-big.css);
@import url(./_del-invisible/button_del-invisible.css);

.button {
  cursor: pointer;
  padding: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: .5s;
  outline: none;
}
