.form__fieldset {
  position: relative;
  padding: 0;
  border: none;
  max-width: 358px;
  margin: -6px auto 0;
}

@media (max-width: 550px) {
  .form__fieldset {
    margin: 0 29px;
  }
}
@media (max-width: 400px) {
  .form__fieldset {
    margin: 0 18px;
  }
}
