@import url(./__image/photo__image.css);
@import url(./__title/photo__title.css);
@import url(./__name/photo__name.css);
@import url(./__like-counter/photo__like-counter.css);
@import url(./__like/photo__like.css);

.photo {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}
