.form__input {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  margin-top: 29px;
  padding-bottom: 9px;
}

.form__input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.form__input_type_error {
  border-bottom: 1px solid #ff0000;
}

@media (max-width: 550px) {
  .form__input {
    margin-bottom: 0;
  }
}
@media (max-width: 400px) {
  .form__input {
    padding-bottom: 6px;
    font-size: 11px;
    line-height: 13px;
  }
}
